extends layout

block content
	.container(style="margin-top: 20%")
		.row
			.col-md-4.offset-md-4
				form
					.form-group
						label(for="Email") Email
						input.form-control(type='text')
						label(for="Password") Password
						input.form-control(type='password')
						button.btn-styler.btn.btn-danger(type="submit") Login
