extends layout

block content
	.container.container-table
		.row.vertical-center-row
			.bg-box.col-md-4.offset-md-4
				.jumbotron
					h2.display-3(tkey="signup")
					p.lead Salut
					form
						.form-group
							label(for="Email") E-mail
							input.form-control(id="Email" type='text' placeholder="Email")
							label(for="Password" tkey="password")
							input.form-control(id="Password" type='password' placeholder="Password")
							button.btn-styler.btn.btn-danger(type="submit") Login
