extends layout

block content
	+hiddenVar()
	.container-fluid
		.row
			.col-xl-4.offset-xl-4.valign
				.jumbotron
					.innerJumbotron
						h3.display-4(tkey="signup")
						form
							.form-group
									label.form-control-label(for="password" tkey="newPwd") New Password
									input.form-control.form-control-warning(id="password" type='password' placeholder="********")
									small.form-text.text-muted
									br
									label.form-control-label(for="repassword" tket="reNewPwd") Confirm New Password
									input.form-control.form-control-warning(id="repassword" type='password' placeholder="********")
									small.form-text.text-muted
									br
						button#b3.btn-styler.btn(style="width: 100%;")
							span(tkey="next")
