@import url('http://getbootstrap.com/dist/css/bootstrap.css');

body {
	background-image: url('/assets/background.jpg');
}

.btn-styler {
	margin-top: 50px;
	background-color: white;
	border-color: white;
	color: black;
	width: 100%;
}

html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.innerJumbotron {
	margin-top: -50px;
}
