mixin edit()
	br
	br
	.row
		.bg-box.col-lg-4.offset-lg-4
			.jumbotron
				.innerJumbotron
					h3.display-4.text-center(tkey="edit") :
					form
						.form-group
							label.form-control-label(for="email") Email
							input.form-control(name="email" id="email" type='email' value=`${user.email}` placeholder="Email")
							br
							label.form-control-label(for="username" tkey="username")
							input.form-control(name="username" id="username" type='text' value=`${user.username}` placeholder="Jhon D")
							br
							label(for="photo" style="width: 100%;" tkey='import')
							input.form-control-file#photo(name='photo' type='file' aria-describedby="fileHelp")
							br
							if user.photo
								img#picture(src=`${user.photo}`)
							else
								img#picture
							br
					button#sendEdit.btn-styler.btn(style="width: 100%;")
						span(tkey="finish")
