mixin filmsList()
	br
	.row
		.col-md-2.col-lg-1.col-xs-4.imgListFilms.offset-lg-3(id=`img23` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img22` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img21` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img20` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img19` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img18` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
	br
	.row
		.col-md-2.col-lg-1.col-xs-4.imgListFilms.offset-lg-3(id=`img17` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img16` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img15` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img14` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img13` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img12` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
	br
	.row
		.col-md-2.col-lg-1.col-xs-4.imgListFilms.offset-lg-3(id=`img11` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img10` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img9` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img8` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img7` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img6` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
	br
	.row
		.col-md-2.col-lg-1.col-xs-4.imgListFilms.offset-lg-3(id=`img5` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img4` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img3` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img2` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img1` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
		.col-md-2.col-lg-1.col-xs-4.imgListFilms(id=`img0` style="display: none;")
			a(href="#" style="color: white")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
				div(style="overflow: hidden;position: absolute; width: 0%; height: 70%; top: 30%; background-color: rgba(0, 0, 0, 0.7);")
					p.text-center.filmTitle
						b
					p.text-center.filmYear
					p.text-center.filmRate
