mixin filmsList()
	br
	.row
		.col-md-2.col-lg-1.col-xs-4.offset-lg-3(id=`img23` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img22` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img21` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img20` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img19` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img18` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
	.row
		.col-md-2.col-lg-1.col-xs-4.offset-lg-3(id=`img17` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img16` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img15` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img14` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img13` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img12` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
	.row
		.col-md-2.col-lg-1.col-xs-4.offset-lg-3(id=`img11` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img10` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img9` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img8` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img7` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img6` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
	.row
		.col-md-2.col-lg-1.col-xs-4.offset-lg-3(id=`img5` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img4` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img3` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img2` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img1` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
		.col-md-2.col-lg-1.col-xs-4(id=`img0` )
			a(href="#")
				img(style="width: 0%;" src=`` alt=`Image not found..` title=``)
