mixin hiddenVar()
  .hidden
    span#password(tkey="password")
    span#repassword(tkey="repassword")
    span#username(tkey="username")
    span#1signup(tkey="1signup")
    span#signup(tkey="signup")
    span#mailError(tkey="mailError")
    span#wPwdLen(tkey="wPwdLen")
    span#pwdNoMatch(tkey="pwdNoMatch")
    span#login(tkey="login")
    span#userLastname(tkey="userLastname")
    span#userFirstname(tkey="userFirstname")
    span#finish(tkey="finish")
    span#mail Email
