mixin hiddenVar()
  .hidden
    span#password(tkey="password")
    span#repassword(tkey="repassword")
    span#username(tkey="username")
    span#1signup(tkey="1signup")
    span#signup(tkey="signup")
    span#1login(tkey="1login")
    span#login(tkey="login")
    span#mail Email
