mixin search()
	.row
		.col-xs-6.offset-3
			.input-group
				label.form-control-label(for="search") Search
				input.form-control#searchValue(name="search" placeholder="Search")
				a.input-group-addon#searchBtn(href="#")
					span.glyphicon.glyphicon-search
	.row
		.col-xs-2.offset-3
			.input-group
				select#categoryValue
					option Drama
					option Horror
					option Sci-Fi
					option Thriller
					option Action
					option Comedy
					option Fantasy
					option Romance
					option Crime
					option Musical
					option Mystery
					option Biography
					option Family
					option History
					option Adventure
					option Sport
					option Amimation
					option War
		
