mixin search()
	#search
		.row
			.col-xs-8.col-md-10.col-lg-5.offset-lg-3
				.input-group
					label.form-control-label(for="search" style="color: red;") Search :
					input.form-control#searchValue(name="search" placeholder="Search")
			.col-xs-4.col-md-2.col-lg-1
				button.btn.btn-style#searchBtn(style="width: 100%; margin-top: 25px; margin-right: auto; margin-left: auto;")
					span.glyphicon.glyphicon-search
		br
		.row
			.col-md-12.col-lg-6.offset-lg-3
				.input-group
					label.form-control-label(for="rating" style="color: red;") Rating :
					br
					span(style="color: red;")
						b(style="float: left") 0
						b(style="float: right") 10
						input(style="width: 100%;" data-slider-id='ratings' type="text" id="rating" value="" data-slider-min="0" data-slider-max="10" data-slider-step="0.1" data-slider-value="3.3")
		br
		.row
			.col-xs-4.col-lg-2.offset-lg-3
				.input-group
					label.form-control-label(for="catagory" style="color: red;") Category :
					br
					select.custom-select#categoryValue(name="category")
						option(value="") All
						option(value="Action") Action
						option(value="Adventure") Adventure
						option(value="Animation") Animation
						option(value="Biography") Biography
						option(value="Comedy") Comedy
						option(value="Crime") Crime
						option(value="Documentary") Documentary
						option(value="Drama") Drama
						option(value="Family") Family
						option(value="Fantasy") Fantasy
						option(value="Film-noir") Film-Noir
						option(value="Game-show") Game-Show
						option(value="History") History
						option(value="Horror") Horror
						option(value="Music") Music
						option(value="Musical") Musical
						option(value="Mystery") Mystery
						option(value="News") News
						option(value="Reality-tv") Reality-TV
						option(value="Romance") Romance
						option(value="Sci-fi") Sci-Fi
						option(value="Sport") Sport
						option(value="Talk-show") Talk-Show
						option(value="Thriller") Thriller
						option(value="War") War
						option(value="Western") Western
			.col-xs-4.col-lg-2
				.input-group
					label.form-control-label(for="orderBy" style="color: red;") Order by :
					br
					select.custom-select#orderByValue(name="orderBy")
						option(value="title") Alphabetical
						option(value="year") Realease year
						option(value="rating") Rating
						option(value="length") Duration
