mixin videos()
	#videos.row.hidden
		.col-lg-9
			.row
				.col-lg-12
					video(id="video", class="video-js", controls, preload="auto", style="min-height: 500px; width: 100%;", poster="//vjs.zencdn.net/v/oceans.png", data-setup='{}')
						source(src="http://localhost:8888/video" type="video/mp4")
						//- track(style="margin-top: 500px;" kind="subtitle" src-lang="US" label="English" src="/downloads/tt4295258.vtt" default)
					br
				.col-lg-12.hidden-md-down
					h2(style="color: white;").text-center Infos
		.col-md-12.hidden-lg-up
			h2#toggle.text-center(style="color: white;") Infos 
				span.glyphicon.glyphicon-chevron-up
			div#stoggle
				p salut
		.col-lg-3#commentZone
			h2.text-center(style="color: white;") Commentary 
				span.badge.badge-default 27
			div(style="padding-bottom: 15px;")
				.row(style="background-color: #171717;")
					.col-xs-3
						img(src="https://yts.ag/assets/images/users/thumb/default_avatar.jpg")
					.col-xs-9
						p(style="color: #919191;") Jeremy Misiti -
						input#comment(type="text" style="width: 90%;")
