mixin videoList()
	#videoList
		each movieList, i in movies
			if i === 0
				h1.text-center Sci-Fi
			else if i === 1
				h1.text-center Action
			else if i === 2
				h1.text-center Comedy
			else if i === 3
				h1.text-center Drama
			.row
				.offset-lg-3
				each movie in movieList
					.col-md-2.col-lg-1.col-xs-4
						a(href="#")
							img.listMovie(style="width: 100%;" src=`${movie.image}` alt=`Image not found..` title=`${movie.title}`)
	#filmsList
		+filmsList()
