mixin videoList()
		h1 Commedy
		.row
			.col-xs-2
				a.thumbnail(href="images/image1.jpg")
					img(src="https://yts.ag/assets/images/movies/viral_2016/large-cover.jpg" alt="Image 1")
			.col-xs-2
				a.thumbnail(href="images/image1.jpg")
					img(src="https://yts.ag/assets/images/movies/across_the_line_2015/large-cover.jpg" alt="Image 1")
			.col-xs-2
				a.thumbnail(href="images/image1.jpg")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-xs-2
				a.thumbnail(href="images/image1.jpg")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-xs-2
				a.thumbnail(href="images/image1.jpg")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-xs-2
				a.thumbnail(href="images/image1.jpg")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
		h2 Drama
		.row
			.col-xs-2
				a.thumbnail(href="images/image1.jpg")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-xs-2
				a.thumbnail(href="images/image1.jpg")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-xs-2
				a.thumbnail(href="images/image1.jpg")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-xs-2
				a.thumbnail(href="images/image1.jpg")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-xs-2
				a.thumbnail(href="images/image1.jpg")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-xs-2
				a.thumbnail(href="images/image1.jpg")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
