mixin videoList()
	#videoList
		h1.text-center(style="color: red;") Comedy
		.row
			.offset-lg-3
			.col-md-2.col-lg-1.col-xs-4
				a.thumbnail(href="#")
					img(src="https://yts.ag/assets/images/movies/viral_2016/large-cover.jpg" alt="Image 1")
			.col-md-2.col-lg-1.col-xs-4
				a.thumbnail(href="#")
					img(src="https://yts.ag/assets/images/movies/across_the_line_2015/large-cover.jpg" alt="Image 1")
			.col-md-2.col-lg-1.col-xs-4
				a.thumbnail(href="#")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-md-2.col-lg-1.col-xs-4
				a.thumbnail(href="#")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-md-2.col-lg-1.col-xs-4
				a.thumbnail(href="#")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-md-2.col-lg-1.col-xs-4
				a.thumbnail(href="#")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
		h1.text-center(style="color: red;") Drama
		.row
			.offset-lg-3
			.col-md-2.col-lg-1.col-xs-4
				a.thumbnail(href="#")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-md-2.col-lg-1.col-xs-4
				a.thumbnail(href="#")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-md-2.col-lg-1.col-xs-4
				a.thumbnail(href="#")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-md-2.col-lg-1.col-xs-4
				a.thumbnail(href="#")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-md-2.col-lg-1.col-xs-4
				a.thumbnail(href="#")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
			.col-md-2.col-lg-1.col-xs-4
				a.thumbnail(href="#")
					img(src="https://yts.ag/assets/images/movies/the_man_from_planet_x_1951/large-cover.jpg" alt="Image 1")
